<div class="about-section">
  <h1>OUR CRAFT</h1>

  <h2>Higher Grounds Coffee is a specialty coffee shop based in Portland, OR.  We offer high quality coffee beans from all over the world.  All beans are locally roasted.</h2>

  <p>Our approach to coffee is simple. Quality everything. We’re passionate about coffee and we want to share that passion with you.</p>

  <p>Coffee lovers unite.</p>

  <button><%= link_to "View Coffee", products_path %></button>
</div>
