<h1>Welcome to Higher Grounds Coffee!</h1>

<h3>Higher Grounds Coffee is a specialty coffee shop based in Portland, OR.  We offer high quality coffee beans from all over the world.  All beans are locally roasted.  Check them out! </h3>
