<h1>Coffee Beans</h1>

<%= link_to "Sort by Price", products_path(sort_by: "highest_price")%>

<div class="products-list"><%= render 'products' %></div>

<% if current_user.try(:admin?) %>
  <button><%= link_to "New Product", new_product_path, remote: true, id: "new_product_link"%></button>
<% end %>
