<% if @product.reviews.any? %>
  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        <%= review.author %> |
        <%= review.content %>
        <% if current_user && current_user.admin %>
          <button>
            <%= link_to "Delete", product_review_path(@product, review),
              :data => {:confirm => "Are you sure?",
              :method => "delete"}, class:"delete-review"
            %>
          </button>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<% if current_user %>
  <%= link_to "Add a review", new_product_review_path(@product), remote: true, id: "add_review_link" %>
<% end %>
